table 
{
    background-color: white;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 1rem;
}

tr 
{
    border-radius: 1rem;
}

th 
{
    padding: 1rem;
    letter-spacing: 1px;
}

th, td 
{
    border-collapse: collapse;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:not(tr:first-child):hover 
{
    background-color: coral;
}

td p 
{
    padding-inline: 2rem;
}

td button 
{
    min-width: 3rem;
    max-width: 3rem;
    min-height: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    font-size: 2rem;
    padding-inline: .5rem;
    display: inline-block;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

td:last-child button
{
    color: red;
}

td button:hover 
{
    background-color: #D3D3D3;
    text-decoration: underline;
}

.recordIndicator 
{
    padding-inline: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #D3D3D3;
    font-size: 2rem;
}