.responsiveTitle 
{
    display: none;
    text-align: center;
    border-top: 1px solid black;
}

.responsiveTitle p 
{
    font-weight: bold;
    padding: .2rem;
}

table 
{
    border-collapse: collapse;
    border-radius: 1rem;
}

table:empty 
{
    display: none;
}

.selectedRow 
{
    background-color: coral
}

tr 
{
    border-radius: 1rem;
}

th 
{
    padding: 1rem;
    letter-spacing: 1px;
}

th, td 
{
    border-collapse: collapse;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:not(tr:first-child):hover 
{
    background-color: #E5F3FF;
}

td p 
{
    padding-inline: 2rem;
}

td button 
{
    margin-block: 0.2rem;
    min-width: 3rem;
    max-width: 3rem;
    min-height: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    font-size: 2rem;
    padding-inline: .5rem;
    display: inline-block;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

td:last-child button
{
    color: red;
}

td button:hover 
{
    background-color: #D3D3D3;
}

.recordIndicator 
{
    padding: 0.5rem;
    background-color: #D3D3D3;
    font-size: 1rem;
}

#noData 
{
    position: relative;
    padding-bottom: 2rem;
}

#noData img 
{
    display: block;
    position: relative;
    width: 10.4rem;
}

#noData p 
{
    position: absolute;
    font-weight: bolder;
    width: fit-content;
    font-size: 2rem;
    bottom: 1rem;
    left:0px;
    right:0px;
    margin: 0 auto;
    z-index: 2;
    border-radius: 1rem;
    text-decoration: underline;
    text-shadow: 0px 0px 2rem black;
    color: white;
    font-family: 'Paytone One', sans-serif;
}