table 
{
    background-color: white;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 1rem;
}

tr 
{
    border-radius: 1rem;
}

th 
{
    padding: 1rem;
    letter-spacing: 1px;
}

th, td 
{
    border-collapse: collapse;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:not(tr:first-child):hover 
{
    background-color: coral;
}

td p 
{
    padding-inline: 2rem;
}

td button 
{
    padding: 1rem;
    border-radius: 1rem;
    display: block;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

td button:hover 
{
    background-color: #D3D3D3;
    text-decoration: underline;
}