:root
{
    --sectionBackground : #EFE1CE;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

header, section, footer
{
    background-repeat: no-repeat;
    background-size: cover;
}

h1 
{
    letter-spacing: 2px;
}

#wrapper 
{
    width: 100%;
}

#dataSection 
{
    margin-top: 1rem;
    background-color: var(--sectionBackground);
    padding-block: 1rem;
    background-position-y: 76%;
}

#data 
{
    width: fit-content;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

@keyframes showInfo
{
    from {width: 0%; height: 0%;}
    to {width: 100%; height: 100%;}
}

@keyframes showInfo2
{
    from {width: 100%; height: 100%;}
    to {width: 0%; height: 0%;
        display: none;
    }
}

@keyframes showInfoContent2
{
    to {opacity: 0; width: 50%;}
    from {opacity: 1; width: 0%;}
}

@keyframes showInfoContent 
{
    from {opacity: 0; width: 0;}
    to {opacity: 1; width: 50%;}
}


#info 
{
    display: none;
    position: fixed;
    padding: 1rem;
    z-index: 99;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    backdrop-filter: blur(10px);
    overflow: auto;
}

.animateInfo 
{
    animation-name: showInfo;
    animation-duration: .5s;
}

.animateInfo2
{
    animation-name: showInfo2;
    animation-duration: .5s;
    animation-fill-mode:forwards;
}

#infoContent 
{
    width: 50%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
}

#infoContent div 
{
    position: relative;
}

#gitHubLink 
{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

#gitHubLink img 
{
    width: 2rem;
}

.animateInfoContent 
{
    animation-name: showInfoContent;
    animation-duration: 1s;
}

.animateInfoContent2 
{
    animation-name: showInfoContent2;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

#infoContent h2 
{
    margin-bottom: 1rem;
}

#closeInfoContent 
{
    padding: 1rem;
    display: block;
    position: absolute;
    font-weight: bolder;
    cursor: pointer;
    top: -1rem;
    right: -1rem;
}

.block 
{
    padding: .4rem; border-radius: 1rem; 
}

#closeInfoContent:hover
{
    background-color: black;
    color: white;
}
@media screen and (max-width:1240.5px)
{
    #dataSection 
    {
        background-position-y: 86%;
    }        
}

@media screen and (max-width:930.5px)
{
    #dataSection 
    {
        background-position-y: 96%;
    }        
}

@media screen and (max-width:775.5px)
{
    #dataSection 
    {
        background-position-y: 100%;
    }        
}


@media screen and (max-width:677.5px)
{
    #infoContent
    {
        width: 100%;
    }      
}


@media screen and (max-width:383.5px)
{
    #gitHubLink
    {
        position: relative;
        width: fit-content;
        margin: 0 auto;
    }        
}

@media screen and (max-width:354.5px)
{
    #infoContent div h2:nth-of-type(2) span:nth-child(3)
    {
        line-height: 3rem;
    }
}