:root
{
    --sectionBackground : #EFE1CE;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

header, section, footer
{
    background-repeat: no-repeat;
    background-size: cover;
}

h1 
{
    letter-spacing: 2px;
}

#wrapper 
{
    width: 100%;
}