#dataSection 
{
    background-position-y: 92%;
}

#notification 
{
    position: absolute;
    display: none;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    letter-spacing: 1px;
}

.animateNotification 
{
    animation-name: showNotification;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes showNotification
{
    from 
    {
        opacity: 0;
    }

    to 
    {
        opacity: 1;
    }
}

#notification p 
{
    font-weight: bold;
}

caption 
{
    background-color: white;
}

table 
{
    background-color: white;
    border: 1px solid;
    border-radius: 0 0 1rem 1rem;
    padding: .5rem;
}

table input
{
    padding: .6rem;
    border-radius: 1rem;
    border-width: 1px;
}

table caption 
{
    border: 1px solid;
    padding: .5rem;
    font-weight: bolder;
    border-radius: 1rem 1rem 0 0;
}

table label 
{
    padding: .6rem;
}

table select 
{
    padding: 0.6rem;
    border-radius: 1rem;
    width: 100%;
}

.commands 
{
    display: flow-root;
    width: fit-content;
    margin-top: .5rem;
}

.commands button:first-child 
{
    margin-right: 1.3rem;
}

.commands button:last-child
{
    color: red;
    padding-block: .2rem;
}

.commands button:hover 
{
    background-color: #D3D3D3;
}

.commands button 
{
    float: left;
    cursor: pointer;
    display: block;
    font-size: 2.25rem;
    padding: 0rem .5rem;
    min-width: 8.2rem;
    width: 40%;
    border-radius: 1rem;
    border-width: 1px;
    font-weight: bolder;
}

@media screen and (max-width: 700.5px)
{
    footer p {display: none;}

    .recordTracker {
        display: block;
    }
}

@media screen and (max-width: 358.5px)
{
    .recordTracker 
    {
        text-align: center;
    }

    .recordTracker .newButton 
    {
        display: block;
        margin: 0 auto;
        margin-top: .3rem;
    }
}