header 
{
    color: black;
    line-height: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: var(--sectionBackground);
}

nav 
{
    border: 1px solid black;
    height: 3rem;
    background-color: white;
}

#searchSection 
{
    padding: 1rem;
    background-color: var(--sectionBackground);
}

#searchPanel 
{
    padding: 1rem;
}

#searchPanel input[type=text] 
{
    padding: .7rem;
    border-radius: 1rem;
    border-color: black;
    border-width: 1px;
    border-spacing: 0;
    width: 96%;
}

#searchPanel button 
{
    text-align: center;
    display: inline-block;
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    border-width: 1px;
    font-weight: bolder;
    vertical-align: middle;
    padding: 0.05rem;
    font-size: 2rem;
    color: white;
    background-color: green;
}

#dataSection 
{
    margin-top: 1rem;
    background-color: var(--sectionBackground);
    padding-block: 1rem;
}
