#searchSection 
{
    padding: 1rem;
    padding-top: 0;
    background-color: var(--sectionBackground);
    background-position-y: 75%;
}

#searchPanel 
{
    padding: 1rem;
}

#searchPanel input[type=text] 
{
    padding: .7rem;
    border-radius: 1rem;
    border-color: black;
    border-width: 1px;
    border-spacing: 0;
    width: 100%;
}

#searchPanel button 
{
    display: none;
    text-align: center;
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    border-width: 1px;
    font-weight: bolder;
    vertical-align: middle;
    padding: 0.05rem;
    font-size: 2rem;
    color: white;
    background-color: green;
}

#dataSection 
{
    margin-top: 1rem;
    background-color: var(--sectionBackground);
    padding-block: 1rem;
    background-position-y: 76%;
}

#data 
{
    width: fit-content;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width:1240.5px)
{
    #dataSection 
    {
        background-position-y: 86%;
    }        
}

@media screen and (max-width:930.5px)
{
    #dataSection 
    {
        background-position-y: 96%;
    }        
}

@media screen and (max-width:775.5px)
{
    #dataSection 
    {
        background-position-y: 20%;
    }        
}
